* {
    margin: 0;
    padding: 0;
    background-color: rgb(24, 12, 0);
    -webkit-text-fill-color: #f2c14d;
}
html, body {
    height: 100%; font-family: ‘Rouge Script’, cursive; 
}
p1 {background: none; text-align: center;font-size: 60px; top: 75px; position: relative;}
.wrapper {
    height: 100%;
    max-width: 1100px; 
    margin: 0 auto;
}
.page {
    min-height: 100%;
    padding-bottom: 90px;
    box-sizing: border-box;
}
.header {
    height: 350px;
    min-width: 100%;
    background: linear-gradient(to right,  rgb(24, 12, 0) 0%,  rgb(24, 12, 0) calc(50% - 360px), 
    transparent calc(50% - 30px), transparent calc(50% + 30px), rgb(24, 12, 0),  rgb(24, 12, 0) 100%), 
    linear-gradient(to bottom,  rgb(24, 12, 0) 0%,  rgb(24, 12, 0) calc(50% - 360px), 
    transparent calc(50% - 30px), transparent calc(50% + 30px), rgb(24, 12, 0),  rgb(24, 12, 0) 100%),
    url('../images/dicebackground.jpg') no-repeat center ;

}

.footer {
    height: 90px;
    margin-top: -90px;
    box-sizing: border-box;
}
.dice {
    display:inline-block;
    position: left;
    padding: 100;
    left: 50%;
    transform: translate(-50%, 0);
    height: 250px;
    width: 250px;
    background: url('../images/diceroller.png')no-repeat center;
    background-size: contain;
    color: #f2c14d; font-size: 40px; font-weight: normal; line-height: 0px; margin: 0 0 50px; text-align: center; text-shadow: 1px 1px 2px #000000;
}
#dicetext {background: none;}
.diceselect {
    width: 20%;
    display:inline-block;
}
.diceselecttext{color: #f2c14d;  font-size: 15px; font-weight: normal; line-height: 18px; margin: 0 0 10px; text-align: center; text-shadow: 1px 1px 2px #000000;}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1bc00;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid rgb(204, 95, 18);
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgb(112, 51, 8);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid rgb(221, 153, 26);
}
.randomclass{position: relative; top: 10px; left: 10px;}